node_modules/**/*
.expo
.expo-source
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
android/.gradle
android/.idea
android/build
android/app/build
android/app/release
android/app/debug
android/app/app.iml
android/app/.settings
android/app/.classpath
android/local.properties
ios/build
ios/Pods
/**/xcuserdata
ios/kid-security/xcuserdata
/**/.DS_store
.DS_Store
ios/.DS_Store
android/app/src/main/assets/*
ios/kid-security/Supporting/shell-app.bundle
android*shell-app.bundle
android/.settings
/nbproject/private/
android/**/*.hprof
android/**/*.log
.vscode
android/app/src/main/java/kz/sirius/kidssecurity/generated/BasePackageList.java
solution.code-workspace
